@import 'misc';


@include respond-to(mobile) {
  .header {
    display: none;
  }

  .mobileNav {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 100;
  }

  .mobileNav__logo {
    width: 50px;
    height: 50px;
  }

  .mobileNav__nav {
    background-color: rgba(74, 183, 71, 0.85);
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    right: 0;
    z-index: 10;
  }

  .mobileNav__nav-item {
    font-size: 20px;
    display: block;
    text-align: center;
    height: 70px;
    line-height: 70px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    width: 100%;

    &:focus, &:active {
      background-color: rgba(255, 255, 255, 0.15);
      outline: none;
    }

    &.mobileNav__nav-item--menu {
      background-color: rgba(0, 0, 0, 0.15);
      text-transform: uppercase;
    }
  }

  .transparentBox__column {
    float: left;
    width: 100%;
    padding: 50px 0px 50px 0px;
  }

  .main__heading {
      color: rgba(255, 255, 255, 0.73);
      font-size: 100px;
      font-size: 11.2vw;  /*font size responsive by "VW"*/
      font-weight: 600;
      margin-bottom: 29px;
      margin-top: 0;
    }

  .btn-main {
    font-size: 3.2vw;
  }

  .gallery__container {
    width: 100%;
    height:auto;
    background: 0px;
  }
  .gallery_img img {
    opacity: 1;
    width: 49%
  }

  .contact__info {
  width: 100%;
  height: auto;
  }

  .contact__infoLine {
    font-size: 4.4vw;
  }



}
