---
title: 'SmartHome | Galeria'
---

<nav class="header">
  <div class="flex-container">
    <ul class="header__nav">
      <li class="header__nav-item">
        <a class="header__logo" href="index.html">
          <img src="images/logoNoText.png">
        </a>
      </li>
      <li class="header__nav-item">
        <a href="index.html">Strona Glowna</a>
      </li>
      <li class="header__nav-item">
        <a href="company.html">O firmie</a>
      </li>
      <li class="header__nav-item header__nav-item--dropdownButton">
        <a href="#">Certyfikaty</a>
      </li>
      <li class="header__nav-item">
        <a href="contact.html">Referencje</a>
      </li>
      <li class="header__nav-item header__nav-item--contact">
        <a href="contact.html">Kontakt</a>
      </li>
      <div class="dropdown">
        <a class="dropdown__link" target="_blank" href="images/img1.bmp">De Dietrich</a>
        <a class="dropdown__link" target="_blank" href="images/img2.jpg">Simp</a>
        <a class="dropdown__link" target="_blank" href="images/img3.jpg">Zehnder</a>
      </div>
    </ul>
  </div>
</nav>

<section>
  <div class="flex-container">
    <div class="main">
      <h1 class="main__heading">smarthome</h1>
      <a class="btn-main" href="contact.html">skontaktuj się z nami</a>
    </div>
  </div>
</section>

<h1 class="gallery__title">Galeria</h1>

<div id="lightgallery" class="gallery flex-container">
<a class="gallery_img"  href="images/gallery/photo1.JPG">
  <img src="images/gallery/photo1.JPG"/>
</a>
<a class="gallery_img"  href="images/gallery/photo2.jpg">
  <img src="images/gallery/photo2.jpg"/>
</a>
<a class="gallery_img"  href="images/gallery/photo3.jpg">
  <img src="images/gallery/photo3.jpg"/>
</a>
<a class="gallery_img"  href="images/gallery/photo4.JPG">
  <img src="images/gallery/photo4.JPG"/>
</a>
<a class="gallery_img"  href="images/gallery/photo5.JPG">
  <img src="images/gallery/photo5.JPG"/>
</a>
<a class="gallery_img"  href="images/gallery/photo6.JPG">
  <img src="images/gallery/photo6.JPG"/>
</a>
<a class="gallery_img"  href="images/gallery/photo7.JPG">
  <img src="images/gallery/photo7.JPG"/>
</a>
<a class="gallery_img"  href="images/gallery/photo8.jpg">
  <img src="images/gallery/photo8.jpg"/>
</a>
<a class="gallery_img"  href="images/gallery/photo9.JPG">
  <img src="images/gallery/photo9.JPG"/>
</a>
<a class="gallery_img"  href="images/gallery/photo10.jpg">
  <img src="images/gallery/photo10.jpg"/>
</a>
</div>


  </div>
  <div class="clearfix"></div>
</div>

<div class="footer">
  <div class="flex-container">
    <p>&copy; Smart home 2017</p>
  </div>
</div>

