---
title: 'SmartHome | Oferta'
---

<nav class="header">
  <div class="flex-container">
    <ul class="header__nav">
      <li class="header__nav-item">
        <a class="header__logo" href="index.html">
          <img src="images/logoNoText.png">
        </a>
      </li>
      <li class="header__nav-item">
        <a href="index.html">Strona Główna</a>
      </li>
      <li class="header__nav-item">
        <a href="company.html">O firmie</a>
      </li>
      <li class="header__nav-item header__nav-item--dropdownButton">
        <a href="#">Certyfikaty</a>
      </li>
      <li class="header__nav-item">
        <a href="contact.html">Referencje</a>
      </li>
      <li class="header__nav-item header__nav-item--contact">
        <a href="contact.html">Kontakt</a>
      </li>
      <div class="dropdown">
        <a class="dropdown__link" target="_blank" href="images/img1.jpg">De Dietrich</a>
        <a class="dropdown__link" target="_blank" href="images/img2.jpg">Simp</a>
        <a class="dropdown__link" target="_blank" href="images/img3.jpg">Zehnder</a>
      </div>
    </ul>
  </div>
</nav>

<nav>
  <a class="mobileNav" href="#">
    <img class="mobileNav__logo" src="images/mobileNav.svg">
  </a>
  <ul class="mobileNav__nav">
    <li class="mobileNav__nav-item mobileNav__nav-item--menu">
      Menu
    </li>
    <li>
      <a class="mobileNav__nav-item" href="index.html">Strona Główna</a>
    </li>
    <li>
      <a class="mobileNav__nav-item" href="company.html">O firmie</a>
    </li>
    <li>
      <a class="mobileNav__nav-item" href="#">Certyfikaty</a>
    </li>
    <li>
      <a class="mobileNav__nav-item" href="contact.html">Referencje</a>
    </li>
    <li>
      <a class="mobileNav__nav-item" href="contact.html">Kontakt</a>
    </li>
  </ul>
</nav>

<section>
  <div class="flex-container">
    <div class="main">
      <h1 class="main__heading">smarthome</h1>
      <a class="btn__main" href="contact.html">skontaktuj się z nami</a>
    </div>
  </div>
</section>


<div class="company">
  <div class="flex-container">
    <div class="company__info">
      <h2 class="company__header">Oferta</h2>
       <div>
        <span class=company__infoLine>
          <ol>
          <h4>Specjalizujemy się w doborze i montażu:</h4>
            <li>Instalacji wodno - kanalizacyjnych.</li>
            <li>Systemów uzdatniania wody.</li>
            <li>Rekuperacji - wentylacji mechanicznej z odzyskiem ciepła.</li>
            <li>Urządzeń grzewczych:</li>
               <ul>
                <li>POMPY CIEPŁA - solankowe, powietrzne,</li>
                <li>KOTŁY GAZOWE,</li>
                <li>KOTŁY NA PALIWA STAŁE - pellet, eko-groszek, olej opałowy,</li>
                <li>KOMINKI z płaszczem wodnym,</li>
                <li>UKŁADY BIWALENTNE - systemy kombinowane składające się z dwóch oddzielnych urządzeń grzewczych, np.: pompa ciepła + kocioł gazowy.</li>
               </ul>
            <li>Pomp ciepła CWU (ciepła woda użytkowa).</li>
            <li>Ogrzewania podłogowego.</li>
            <li>Ogrzewania klasycznego.</li>
            <li>Odkurzaczy centralnych</li>
            <span>POSIADAMY AKTUALNE ŚWIADECTWA KWALIFIKACYJNE UPRAWNIAJĄCE DO MONTAŻU POWYŻSZYCH URZĄDZEŃ</span>
          </ol>
        </div>
    </div>

  </div>
  <div class="clearfix"></div>
</div>

<div class="footer">
  <div class="flex-container">
    <p>&copy; Smart home 2017</p>
  </div>
</div>
